#site {
    width: 100%;
    height: 350vh;
    overflow: hidden;
    position: relative;
    background: #1E90FF;
}
.site_inner {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    cursor: url(../../img/needle.png), auto;
}
.site_inner a {
    cursor: url(../../img/needle.png), auto;
}

/* site_item */
.site_item {
    width: 25rem;
    height: 25rem;
    background-color: #000080;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    color: #000080;
    position: relative;
}
.site_link {
    position: absolute;
    top: -25px;
    right: 0;
    padding: 8px 20px;
    border-radius: 40%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.site_link::after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent; /* 삼각형 모양 */
}
.site_item h2 {
    font-size: 18px;
    font-weight: 900;
}
.site_item a {
    font-size: 15px;
    font-weight: 400;
}
.site_item a:hover {
    font-weight: 900;
}
.site_item p {
    position: absolute;
    bottom: 20px;
    font-size: 18px;
    color: #fff;
}
.site_item p:hover {
    font-weight: 600;
}
.site_item.clicker {
    background-size: cover; /* 이미지를 컨테이너 크기에 맞게 덮음 */
    background-position: center center; /* 이미지를 중앙에 배치 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않음 */
}
.site_item.i1.clicker {
    background-image: url(../../img/website.png);
}
.site_item.i2.clicker {
    background-image: url(../../img/responsive.png);
}
.site_item.i3.clicker {
    background-image: url(../../img/mega.jpg);
}
.site_item.i1 {
    position: absolute;
    top: 11%;
    left: 7%;
}
.site_item.i2 {
    position: absolute;
    top: 21%;
    right: 7%;
}
.site_item.i3 {
    position: absolute;
    top: 33%;
    left: 17%;
}

/* site_text,cont */
.text_cont {
    width: 16rem;
    height: 16rem;
    background-color: #fffde7;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.text_cont h2 {
    font-size: 1.5rem;
}
.text_cont li {
    font-size: 1rem;
}
.text_cont.c1 {
    position: absolute;
    top: 49%;
    left: 55%;
}
.text_cont.c2 {
    position: absolute;
    top: 51%;
    left: 10%;
}
.text_cont.c3 {
    position: absolute;
    top: 60%;
    right: 10%;
}
.text_cont.c4 {
    position: absolute;
    top: 65%;
    left: 20%;
}

/* site_img */
.site_img {
    width: 100%;
    height: 100%;
    position: relative;
}
.img_left {
    width: 100%;
    height: 100%;
    background: url(../../img/site_left.png) no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: -40%;
    opacity: 0.8;
}
.img_right {
    width: 100%;
    height: 100%;
    background: url(../../img/site_right.png) no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: -47%;
}

/* site_deco */
.site_deco {
    width: 30rem;
    height: 30rem;
    background: #fff;
    border-radius: 50%;
    display: flex;
}
.site_deco.b1 {
    position: absolute;
    top: 10.5%;
    left: 6.5%;
    opacity: 0.5;
}
.site_deco.b2 {
    position: absolute;
    top: 20.5%;
    right: 6.5%;
    opacity: 0.5;
}
.site_deco.b3 {
    position: absolute;
    top: 32.5%;
    left: 16.5%;
    opacity: 0.5;
}

.site_deco.b4 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 5.5%;
    left: 2.5%;
}
.site_deco.b5 {
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 9%;
    right: 6%;
}
.site_deco.b6 {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 8.5%;
    right: 5%;
    background: #000;
}
.site_deco.b7 {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 15%;
    right: 7%;
}

.site_deco.b8 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 27%;
    left: 3%;
    background: #fff;
}
.site_deco.b9 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 18%;
    left: 45%;
    z-index: 100;
}
.site_deco.b10 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 38%;
    right: 15%;
    z-index: 100;
}
.site_deco.b11 {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 35%;
    right: 8%;
    z-index: 100;
}
